@mixin bold-text-style($size, $weight: bold) {
  font-size: $size;
  line-height: 1.4;
  font-weight: $weight;
  font-family: "Noto Sans TC", sans-serif;
}

@mixin text-style($size, $weight: 400) {
  font-size: $size;
  line-height: 1.4;
  font-weight: $weight;
  font-family: "Noto Sans TC", sans-serif;
}
