// @mixin bold-text-style($size, $weight: bold) {
//   font-size: $size;
//   line-height: 1.4;
//   font-weight: $weight;
//   font-family: "Noto Sans TC", sans-serif;
// }

// @mixin text-style($size, $weight: 400) {
//   font-size: $size;
//   line-height: 1.4;
//   font-weight: $weight;
//   font-family: "Noto Sans TC", sans-serif;
// }

.text-lg-b {
  @include bold-text-style(18px, 700);
}
.text-lg-r {
  @include text-style(18px);
}
.text-md-b {
  @include bold-text-style(16px, 700);
}
.text-md-r {
  @include text-style(16px);
}
.text-sm-b {
  @include bold-text-style(14px, 700);
}
.text-sm-r {
  @include text-style(14px);
}
.text-sm-r-del {
  @include text-style(14px);
  text-decoration: line-through;
}
.button-text-md {
  @include text-style(16px, 500);
  letter-spacing: 0.5px;
}
.button-text-sm {
  @include text-style(14px, 500);
  letter-spacing: 0.5px;
}
.tabs-text {
  @include text-style(16px, 500);
}
