<footer class="container-fluid px-4 py-6 px-md-12 py-md-8 bg-primary-50">
    <div class="d-flex flex-column flex-md-row justify-content-md-between pb-4 pb-mb-8 gap-8 border-bottom border-1 border-neutral-400">
        <div class="footer-title d-flex flex-column gap-6">
            <div class="footer-img">
                <img src="/assets/images/logo-desktop.svg" alt="Fastock-logo">
            </div>
            <p class="fs-md text-neutral">
                靈感從這裡開始，<br>
                數百萬創意資源，隨選即用。
            </p>
            <ul class="list-unstyled d-flex gap-4">
                <li><a href="#" class="footer-sns-btn"><img width="24px" height="24px" src="/assets/images/icon/icon-dribbble.svg" alt="dribbble"></a></li>
                <li><a href="#" class="footer-sns-btn"><img width="24px" height="24px" src="/assets/images/icon/icon-ig.svg" alt="instagram"></a></li>
                <li><a href="#" class="footer-sns-btn"><img width="24px" height="24px" src="/assets/images/icon/icon-fb.svg" alt="facebook"></a></li>
            </ul>
        </div>
        <div class="footer-content">
            <ul class="list-unstyled text-neutral d-flex flex-row flex-wrap flex-lg-nowrap gap-3 px-2">
                <li class="footer-content-item">
                    <h6 class="fs-lg fw-bold mb-3 px-2 py-1">成為創作者</h6>
                    <ul class="list-unstyled fs-md footer-link">
                        <li><button type="button">如何加入</button></li>
                        <li><button type="button">夥伴福利</button></li>
                        <li><button type="button">常見問題</button></li>
                    </ul>
                </li>
                <li class="footer-content-item">
                    <h6 class="fs-lg fw-bold mb-3 px-2 py-1 ">設計靈感</h6>
                    <ul class="list-unstyled fs-md footer-link">
                        <li><button type="button">設計趨勢</button></li>
                        <li><button type="button">部落格文章</button></li>
                        <li><button type="button">設計師訪談</button></li>
                        <li><button type="button">配色指南</button></li>
                    </ul>
                </li>
                <li class="footer-content-item">
                    <h6 class="fs-lg fw-bold mb-3 px-2 py-1 ">探索資源</h6>
                    <ul class="list-unstyled fs-md footer-link">
                        <li><button type="button">熱門精選</button></li>
                        <li><button type="button">字體精選</button></li>
                        <li><button type="button">圖示包</button></li>
                        <li><button type="button">UI套件</button></li>
                        <li><button type="button">插圖專區</button></li>
                    </ul>
                </li>
                <li class="footer-content-item">
                    <h6 class="fs-lg fw-bold mb-3 px-2 py-1 ">公司與服務</h6>
                    <ul class="list-unstyled fs-md footer-link">
                        <li><button type="button">關於我們</button></li>
                        <li><button type="button">加入我們</button></li>
                        <li><button type="button">聯絡客服</button></li>
                    </ul>
                </li>
                <li class="footer-content-item">
                    <h6 class="fs-lg fw-bold mb-3 px-2 py-1 ">相關協議</h6>
                    <ul class="list-unstyled fs-md footer-link">
                        <li><button type="button">隱私權政策</button></li>
                        <li><button type="button">服務條款</button></li>
                        <li><button type="button">Cookie政策</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-7  my-md-8 d-flex flex-column-reverse flex-md-row justify-content-md-between">
        <p class="fs-md">版權所有 © 2025 快素Fastock</p>
        <div class="dropdown mb-2 mb-md-0">
            <button class="border-0 px-0 dropdown-toggle d-flex bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img width="24px" height="24px" src="/assets/images/icon/icon-language.svg" alt="lan-icon">
                <p class="fs-md mx-1">中文</p>
                <img width="24px" height="24px" src="/assets/images/icon/icon-down.svg" alt="dropdown-icon">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">中文</a></li>
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">日本語</a></li>
            </ul>
            </div>
    </div>
</footer>