<header>
  <!-- 首頁nav-bar -->
  <nav
    class="navbar navbar-expand-lg navbar-white bg-white fs-md mx-0 mx-md-9 mx-lg-12 py-5"
  >
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <!-- 首頁logo -->
      <a class="navbar-brand" href="#"
        ><img
          class="d-none d-lg-block"
          src="/assets/images/logo-desktop.svg"
          alt="logo-desktop"
        />
        <img
          class="d-lg-none"
          src="/assets/images/logo-mobile.svg"
          alt="logo-mobile"
        />
      </a>
      <!-- pc search-bar -->
      <form class="d-flex mx-auto d-none d-lg-block">
        <div class="input-group btn-select">
          <!-- 下拉式搜尋 -->
          <button
            class="search-bar-btn dropdown-toggle d-flex align-items-center d-none d-lg-block"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            全部
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">全部</a></li>
            <li><a class="dropdown-item" href="#">圖片</a></li>
            <li><a class="dropdown-item" href="#">影片</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">其他</a></li>
          </ul>
          <span class="divider d-none d-lg-block"></span>
          <!-- 輸入關鍵字搜尋 -->
          <input
            class="form-control"
            type="search"
            placeholder="搜尋數百萬創意資源"
            aria-label="Search"
          />
          <!-- 圖搜圖的圖示 -->
          <button
            class="search-bar-btn btn-image-search pe-6"
            type="button"
          ></button>
        </div>
      </form>
      <!-- login-bar -->
      <ul class="list-unstyled mb-2 mb-lg-0 d-flex gap-2">
        <li class="nav-item">
          <a
            class="nav-login-btn icon-primary-fill fs-sm fw-medium"
            href="#"
            role="button"
            >登入</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-login-btn icon-secondary-outline fs-sm fw-medium"
            href="#"
            role="button"
            >註冊</a
          >
        </li>
        <li class="nav-item">
          <button class="icon-S icon-secondary-outline" type="button">
            <svg width="22px" height="22px">
              <use href="#icon-cart-outline"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <!-- 分類nav-bar -->
  <div
    class="navbar navbar-expand-lg navbar-white bg-white fs-md d-flex justify-content-between mx-0 mx-md-9 mx-lg-0 px-3 px-lg-0"
  >
    <!-- mobile search-bar -->
    <form class="d-lg-none d-flex">
      <div class="input-group">
        <!-- 下拉式搜尋 -->
        <button
          class="search-bar-btn dropdown-toggle d-flex align-items-center d-none d-lg-block"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          全部
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">全部</a></li>
          <li><a class="dropdown-item" href="#">圖片</a></li>
          <li><a class="dropdown-item" href="#">影片</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">其他</a></li>
        </ul>
        <span class="divider d-none d-lg-block"></span>
        <!-- 輸入關鍵字搜尋 -->
        <input
          class="form-control"
          type="search"
          placeholder="搜尋數百萬創意資源"
          aria-label="Search"
        />
        <!-- 圖搜圖的圖示 -->
        <button
          class="search-bar-btn btn-image-search pe-6"
          type="button"
        ></button>
      </div>
    </form>

    <!-- 分類區 -->
    <!-- PC版按鈕 整個隱藏 -->
    <button
      class="navbar-toggler border-none d-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="/assets/images/icon/icon-Category.svg" alt="icon-Category" />
    </button>
    <!-- PC內容 -->
    <div
      class="collapse navbar-collapse d-none d-lg-flex justify-content-lg-center position-relative px-3 px-md-3 px-lg-0 pt-0 pb-6px"
      id="navbarSupportedContent"
    >
      <ul
        class="sub-nav list-unstyled mb-0 d-flex justify-content-center align-items-center"
      >
        <li class="nav-item nav-item-dropdown" style="position: initial">
          <a
            href="#"
            class="nav-link sub-nav-btn"
            role="button"
            id="dropdownCateMenu"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >字型</a
          >
          <section
            class="dropdown-menu"
            style="width: 100%"
            aria-labelledby="dropdownCateMenu"
          >
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </section>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">範本</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">相片</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">主題</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">圖形</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">影片</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">音效</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">插畫</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">圖標</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">模板</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">筆刷</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link sub-nav-btn">3D</a>
        </li>
      </ul>
    </div>

    <!-- 手機板按鈕 -->
    <button
      class="navbar-toggler border-none d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#mainMenu"
      aria-controls="mainMenu"
      aria-label="Toggle navigation"
    >
      <img src="/assets/images/icon/icon-Category.svg" alt="icon-Category" />
    </button>
    <!-- 手機版內容 -->
    <div
      class="offcanvas offcanvas-end offcanvas-full d-lg-none offcanvas-mainmenu"
      tabindex="-1"
      id="mainMenu"
      aria-labelledby="mainMenuLabel"
    >
      <div class="offcanvas-header shadow">
        <h5 class="offcanvas-title" id="mainMenuLabel">
          <img src="/assets/images/logo-mobile.svg" alt="logo-mobile.svg" />
        </h5>
        <button
          type="button"
          class="btn-close icon-secondary-outline icon-S"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <img
            src="/assets/images/icon/icon-close-primary.svg"
            alt="btn-close"
          />
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-unstyled p-4 d-flex flex-column gap-4">
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="字型"
              data-category="字型類型"
            >
              <p>字型</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="範本"
              data-category="範本類型"
            >
              <p>範本</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="相片"
              data-category="相片類型"
            >
              <p>相片</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="主題"
              data-category="主題類型"
            >
              <p>主題</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="圖形"
              data-category="圖形類型"
            >
              <p>圖形</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="影片"
              data-category="影片類型"
            >
              <p>影片</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="音效"
              data-category="音效類型"
            >
              <p>音效</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="插畫"
              data-category="插畫類型"
            >
              <p>插畫</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="圖標"
              data-category="圖標類型"
            >
              <p>圖標</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="模板"
              data-category="模板類型"
            >
              <p>模板</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="筆刷"
              data-category="筆刷類型"
            >
              <p>筆刷</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="3D"
              data-category="3D類型"
            >
              <p>3D</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-end offcanvas-full d-lg-none offcanvas-submenu"
      tabindex="-1"
      id="sharedSubMenu"
      aria-labelledby="sharedSubMenuLabel"
    >
      <div
        class="offcanvas-header d-flex justify-content-between align-items-center"
      >
        <button
          type="button"
          class="btn btn-link text-decoration-none"
          data-bs-toggle="offcanvas"
          data-bs-target="#mainMenu"
        >
          <img src="/assets/images/icon/icon-left.svg" alt="left-chevron" />
        </button>
        <h5 class="offcanvas-title" id="sharedSubMenuLabel"></h5>
        <button
          type="button"
          class="btn-close icon-secondary-outline icon-S"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <img
            src="/assets/images/icon/icon-close-primary.svg"
            alt="btn-close"
          />
        </button>
      </div>
      <div class="offcanvas-body">
        <a
          class="btn btn-pr-outline d-block text-primary mb-4"
          href="#"
          role="button"
          ><span class="fs-md fw-medium letter-spacing-sm">查看全部</span></a
        >
        <ul class="list-unstyled">
          <li
            class="d-flex flex-column gap-3 pb-6 mb-6 border-bottom border-secondary-400 border-3"
          >
            <ul class="list-unstyled list-group d-flex flex-column gap-3">
              <li>
                <h3
                  class="fs-lg fw-bold list-group-item"
                  id="categoryTitle"
                ></h3>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>動物</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>風景</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>產品</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>3D</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>簽名</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>文字</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
            </ul>
          </li>
          <li
            class="d-flex flex-column gap-3 pb-6 mb-6 border-bottom border-secondary-400 border-3"
          >
            <ul class="list-unstyled list-group d-flex flex-column gap-3">
              <li><h3 class="fs-lg fw-bold list-group-item">風格</h3></li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>現代</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>復古</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>華麗</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
            </ul>
          </li>
          <li class="d-flex flex-column gap-3">
            <ul class="list-unstyled list-group d-flex flex-column gap-3">
              <li><h3 class="fs-lg fw-bold list-group-item">用途</h3></li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>海報</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>影音</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>傳單</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>社群貼文</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
