<header>
  <nav class="navbar navbar-expand-lg navbar-white bg-white fs-md">
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img src="/assets/images/logo-desktop.svg" alt="logo-desktop"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex mx-auto">
          <div class="input-group">
            <button
              class="btn btn-outline-neutral-300 dropdown-toggle d-flex align-items-center py-2 ps-3 pe-2 rounded-start-4"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              全部
              <img
                src="/assets/images/icon/icon-down.svg"
                alt="icon-arrow-down"
                class="ms-1"
              />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">全部</a></li>
              <li><a class="dropdown-item" href="#">圖片</a></li>
              <li><a class="dropdown-item" href="#">影片</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">其他</a></li>
            </ul>

            <span
              class="input-group-text bg-white border-neutral-300 border-start-0 py-2 ps-2 pe-1"
            >
              <img
                width="24px"
                height="24px"
                src="/assets/images/icon/icon-search.svg"
                alt="icon-search"
              />
            </span>

            <input
              class="form-control border-neutral-300 border-start-0 border-end-0 text-md-r ps-0"
              type="search"
              placeholder="搜尋數百萬創意資源"
              aria-label="Search"
            />

            <button
              class="btn btn-outline-neutral-300 bg-white border-start-0 rounded-end-4 py-2 pe-3"
              type="button"
            >
              <img
                width="24px"
                height="24px"
                src="/assets/images/icon/icon-camera.svg"
                alt="icon-camera"
              />
            </button>
          </div>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
          <li class="nav-item">
            <a class="btn btn-primary" href="#" role="button">登入</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-white border" href="#" role="button"
              >註冊</a
            >
          </li>
          <li>
            <button class="btn btn-outline-secondary" type="button">
              <img src="/assets/images/icon/icon-cart-outline.svg" alt="cart" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul
    class="container d-flex justify-content-center align-items-center main-nav"
  >
    <li class="nav-item-dropdown position-relative">
      <a href="contact.html" class="nav-link">contact</a>
      <ul class="dropdown-menu-hover">
        <li>
          <a href="reserve.html" class="nav-link">預約訂位</a>
        </li>
        <li>
          <a href="feedback.html" class="nav-link">回饋意見</a>
        </li>
        <li>
          <a href="info.html" class="nav-link">營業資訊</a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a href="about.html" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="blog.html" class="nav-link">Blog</a>
    </li>
  </ul>
</header>
