// 大小
.btn {
    padding: 13px 24px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: $white;
}

.btn-sm {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: $white;
}

// 顏色與款式
.btn-pr {
    background-color: $primary-600;
    color: $primary-50;

    &:hover {
        background-color: mix($secondary-black, $primary-600, 20%);
    }

    &:focus {
        background-color: $primary-600;
        box-shadow: 0 0 2px 2px $primary-200;
        border: 1px solid $primary-800;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn-pr-outline {
    border: 1px solid $primary-600;
    color: $primary-600;

    &:hover {
        background-color: $primary-50;
    }

    &:focus {
        background-color: $primary-50;
        box-shadow: 0 0 2px 2px $primary-200;
        border: 1px solid $primary-800;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn-pr-noneline {
    color: $primary-600;

    &:hover {
        background-color: $primary-50;
    }

    &:focus {
        border: 1px solid $primary-800;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn-sec {
    background-color: $secondary-black;
    color: $secondary-100;

    &:hover {
        background-color: mix($white, $secondary-black, 20%);
    }

    &:focus {
        border: 1px solid $primary-800;
        box-shadow: 0 0 2px 2px $secondary-400;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn-sec-outline {
    color: $secondary-black;
    border: 1px solid $secondary-700;

    &:hover {
        background-color: mix($secondary-black, $white, 5%);
    }

    &:focus {
        box-shadow: 0 0 2px 2px $secondary-400;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn-sec-noneline {
    color: $secondary-black;

    &:hover {
        background-color: mix($secondary-black, $white, 5%);
    }

    &:focus {
        border: 1px solid $secondary-900;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

// 客製
.btn-x-auto {
    padding-right: auto;
    padding-left: auto;
}

.btn-fw-700 {
    font-weight: 700;
}