// icon padding+bdrs
.icon-M {
  @include icon-size;
}
.icon-S {
  @include icon-size(8px, 12px);
}

// primary icon button ---
// filled --
.icon-primary-fill {
  @include icon-color;
  border: none;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover::after {
    opacity: 1;
  }
  &:focus {
    border: 1px solid $primary-800;
    box-shadow: 0px 0px 0px 2px $primary-50;
  }
  &:disabled {
    opacity: 0.4;
  }
}
// outline --
.icon-primary-outline {
  @include icon-color($primary, $white);
  border: 1px solid $primary;
  &:hover {
    @include icon-hover-style;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px $primary-50;
  }
  &:disabled {
    opacity: 0.4;
  }
}
// nonline --
.icon-primary-nonline {
  @include icon-color($primary, $white);
  border: none;
  &:hover {
    @include icon-hover-style;
  }
  &:focus {
    border: 1px solid $primary-800;
  }
  &:disabled {
    opacity: 0.4;
  }
}

// secondary icon button
// filled --
.icon-secondary-fill {
  @include icon-color($i-bg-color: $secondary);
  border: none;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover::after {
    opacity: 1;
  }
  &:focus {
    border: 1px solid $secondary-900;
    box-shadow: 0px 0px 0px 2px $secondary-400;
  }
  &:disabled {
    opacity: 0.4;
  }
}
// outline --
.icon-secondary-outline {
  @include icon-color($secondary, $white);
  border: 1px solid $secondary-700;
  &:hover {
    @include icon-hover-style($secondary-100);
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px $secondary-400;
  }
  &:disabled {
    opacity: 0.4;
  }
}
// nonline --
.icon-secondary-nonline {
  @include icon-color($secondary, $white);
  border: none;
  &:hover {
    @include icon-hover-style($secondary-100);
  }
  &:focus {
    border: 1px solid $secondary-900;
  }
  &:disabled {
    opacity: 0.4;
  }
}

// In card button
.inCardIcon-M {
  @include icon-size;
}
.inCardIcon-S {
  @include icon-size(8px, 12px);
}
// add-to-cart
.inCardCart {
  @include icon-color($black, $white);
  border: none;
  position: relative;
  overflow: hidden;
    &:hover{
    @include icon-hover-style($i-h-bg-color: rgb(0, 0, 0, 0.05));
  }
  &:focus,
  &:active {
    @include icon-color($white);
  }
  // 購物車實心狀態
  &.is-active {
    @include icon-color($white, $primary); 
    .cart-path {
      d: path("M3.09796 2.0046L3.19982 2.01925L5.52684 2.48312C6.02853 2.58317 6.41586 2.97616 6.5121 3.47043L6.52679 3.57102L6.90973 6.99975H20.7455C21.5417 6.99975 22.1366 7.73068 21.9727 8.50758L20.0727 17.5076C19.9505 18.0859 19.4382 18.4998 18.8455 18.4998H7.23978C6.59853 18.4995 6.06117 18.0166 5.99401 17.3807L5.01462 8.10914L4.59348 4.33567L2.8061 3.9802L2.70719 3.95481C2.22132 3.80573 1.91782 3.31118 2.01966 2.80344C2.12161 2.29598 2.5922 1.95608 3.09796 2.0046ZM9.02047 20.5C9.02047 21.3284 8.34696 22 7.51614 22C6.68532 22 6.0118 21.3284 6.0118 20.5C6.0118 19.6716 6.68532 19 7.51614 19C8.34696 19 9.02047 19.6716 9.02047 20.5ZM20.0523 20.5C20.0523 21.3284 19.3787 22 18.5479 22C17.7171 22 17.0436 21.3284 17.0436 20.5C17.0436 19.6716 17.7171 19 18.5479 19C19.3787 19 20.0523 19.6716 20.0523 20.5Z");
      stroke: none; 
    }
  }
}
// add-to-fav 需搭配JS切換
.inCardFav {
  @include icon-color($neutral, $white);
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover{
    @include icon-hover-style($i-h-bg-color: rgb(0, 0, 0, 0.05));
  }

  // 愛心實心狀態 需搭配JS切換
  &.is-active {
    @include icon-color($error, $white);
    .heart-path {
      d: path(
        "M12.0006 4.71122C14.2946 2.42352 17.9983 2.43017 20.2838 4.73173C22.5719 7.03671 22.572 10.7715 20.2838 13.0765L12.8873 20.5257C12.3985 21.018 11.6027 21.0178 11.1138 20.5257L3.71735 13.0765C1.42885 10.7715 1.42885 7.03674 3.71735 4.73173C6.00289 2.43028 9.70662 2.42341 12.0006 4.71122Z"
      );
    }
  }
}


// ------- TOP 鈕 --------

.scroll-top-btn {
  width: 64px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 999px;
  box-shadow: 0 4px 12px 0px hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 1000;

  &::before {
    content: "";  
    display: block;
    padding: 20px;
    background: url('/assets/images/icon/icon-scroll-to-top.svg') no-repeat center/contain;
  }

  &:hover{
    background-color: #F5F5F5;
  }
}

@include size-lg{
  .scroll-top-btn {
    width: 80px;
    height: 80px;
    right: 60px;
    bottom: 80px;
  }
}


// ----- 人氣標籤樣式

.tag{
  &-m{
    padding: 8px 12px;
    font-size: 14px;
    margin: 16px;

  }
  &-s{
    padding: 4px 8px;
    font-size: 12px;
    margin: 8px;

  }
}

.tag-yellow{
  font-weight: 500;
  line-height: 1.4;
  background-color: $orange-100;
  color: $neutral;
  display: inline-block;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  &::before {
    content: "人氣"; 
  }
}

.tag-pink{
  font-weight: 500;
  line-height: 1.4;
  background-color: $rose-100;
  color: $neutral;
  display: inline-block;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  &::before {
    content: "促銷"; 
  }
}

.tag-blue{
  font-weight: 500;
  line-height: 1.4;
  color: $neutral;
  display: inline-block;
  border-radius: 8px;
  background-color: $teal-100;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  &::before {
    content: "每週免費"; 
  }
}




// ----- 漸變遮罩樣式
.gradient{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.05) 5%,rgba(0, 0, 0, 0.70) 70%);
  opacity: 0;        
  transition: opacity 0.5s;
  &:hover{
  opacity: 1;
  }

}

// ----- checkbox 按鈕樣式
.form-check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $primary;
  width: 1.25em;
  height: 1.25em;
  border-radius: 0.25rem;
  border: 1.5px solid $secondary-900;
  cursor: pointer;
  transition: all 0.2s;
  
}

.form-check-input:checked {
  background-color: currentColor;
  border-color: currentColor;
}


.checkbox-secondary {
  color: $secondary;
}




