.hero {
  width: 100%;
  height: 280px;
  background-color: $secondary-100;
  background-image: url(/assets/images/Homepage/section-hero.svg);
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
}
.color-block {
  background-color: $accent;
}
.ps-148 {
  padding-left: 10%;
}
