.order-complete-pages{
    .container-content{
        max-width: 846px;
        margin: 0 auto;
    }
    .py-37px{
        padding-top: 37px;
        padding-bottom: 37px;
    }
    .w-160px{
        width: 160px;
    }
    .w-300px{
        width: 300px;
    }
    .w-331px{
        width: 331px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    .order-bg{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .exp-register{
        margin-right: -24px;
        margin-left: -24px;
    }

}