
.product-details-pages{
    a{
        color: inherit;
    }
    color: $neutral;
    .w-28px{
        width: 28px;
    }
    .w-36px{
        width: 36px;
    }
    .btn-close {
        --bs-btn-close-opacity: 1;
    }
    .modal-dialog-try {
        max-width: 936px;   
        width: 90%;         
    }
    .modal-dialog-cart {
        max-width: 680px;   
        width: 90%;         
    }
    .w-85{
        width: 87.5%;
    }
    .w-15{
        width: 12.5%;
    }
    .h-195px{
        height: 195px;
    }
    .list-style-none{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .modal-dialog-right {
        margin-right: 15%;
        margin-left: auto;
        margin-top: 10%;
    }
    .fs-12px{
        font-size: 12px;
    }
    #floatingInput:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }
    .invalid-feedback{
        margin-left: 15px;
        padding-bottom: 10px;
    }
    .btn:hover{
        color: $white;
        
    }
    

}





    


@include size-lg{
    .product-content{
        &-w{
            width: 844px;
        }
    }
    .product-actions{
        &-w{
            width: 424px;
        }
    }
    .product-details-pages{
        .exp-list{
            &-w{
                width: 250px;
            }
        }
        .exp-cardinfo{
            &-w{
                width: 430px;
            }
        }
    }
}

