<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo icon.svg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>首頁 | 快素 Fastock</title>
</head>

<body>
  <%- include('./layout/header'); -%> <%- include('./layout/sroll-top-btn.ejs'); -%>

      <!-- hero section -->
      <section
        class="hero container-fluid position-relative d-lg-flex justify-content-center justify-content-lg-start align-items-lg-center">
        <div class="d-flex flex-column pt-7 pt-lg-0 d-inline-block">
          <h2 class="fs-3 fw-bold mb-6p mb-lg-1">靈感從這裡開始。</h2>
          <div class="d-flex flex-column flex-lg-row">
            <h2 class="fs-3 fw-bold mb-6p mb-lg-1">數百萬創意資源，</h2>
            <h2 class="fs-3 fw-bold">
              <!-- <span class="color-block">隨選即用。</span> -->
              <span class="color-block p-2"><a class="fs-5" href="./product-details.html">先點我去產品詳情頁</a></span>
              <span class="color-block p-2"><a class="fs-5" href="./product-list.html"
                  target="_blank">先點我去產品列表頁</a></span>
              <span class="color-block p-2"><a class="fs-5" href="./checkout.html">先點我去結帳頁</a></span>
            </h2>
          </div>
        </div>
      </section>

      <!-- category main area -->
      <main class="category container mx-auto">
        <div class="row">
          <ul
            class="text-center nav nav-pills bg-secondary-100 d-flex justify-content-center align-items-center mt-8 mb-2 mx-auto p-2 gap-2"
            id="pills-tab" role="tablist">
            <li class="nav-item active" role="presentation">
              <button class="nav-link active fs-sm fw-medium letter-spacing-sm" id="pills-popular-tab"
                data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab"
                aria-controls="pills-popular" aria-selected="true">
                人氣
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link fs-sm fw-medium letter-spacing-sm" id="pills-sale-tab" data-bs-toggle="pill"
                data-bs-target="#pills-sale" type="button" role="tab" aria-controls="pills-sale" aria-selected="false">
                促銷
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link fs-sm fw-medium letter-spacing-sm" id="pills-free-tab" data-bs-toggle="pill"
                data-bs-target="#pills-free" type="button" role="tab" aria-controls="pills-free" aria-selected="false">
                每周免費
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active d-flex flex-column gap-4 gap-md-2" id="pills-popular" role="tabpanel"
              aria-labelledby="pills-popular-tab">
              <!-- 精選區 -->
              <div class="container px-4 px-md-0 my-md-3">
                <div class="swiper-header d-flex justify-content-between align-items-center mb-3">
                  <h3 class="fs-5 fw-bold">精選</h3>
                  <div class="swiper-nav d-flex align-items-center gap-2">
                    <button type="button" class="my-prev-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-prev">
                      <img src="/assets/images/icon/icon-left.svg" alt="icon-left" />
                    </button>
                    <button type="button" class="my-next-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-next">
                      <img src="/assets/images/icon/icon-right.svg" alt="icon-right" />
                    </button>
                    <a href="#" class="fs-md fw-medium letter-spacing-sm icon-primary-nonline icon-M text-btn"
                      role="button">查看更多</a>
                  </div>
                </div>
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 1.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden" alt="貓咪家庭" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            貓咪家庭
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 2.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="雪山日出空拍景觀圖" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            雪山日出空拍景觀圖
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 3.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="商業品牌報告紙樣板" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            商業品牌報告紙樣板
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 4.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden" alt="抽象藝術" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            抽象藝術
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>圖形</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 5.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="優雅手寫風英文字體" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            優雅手寫風英文字體
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 6.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="極簡幾何無襯線字體" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            極簡幾何無襯線字體
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 字型區 -->
              <div class="container px-4 px-md-0 my-md-3">
                <div class="swiper-header d-flex justify-content-between align-items-center mb-3">
                  <h3 class="fs-5 fw-bold">字型</h3>
                  <div class="swiper-nav d-flex align-items-center gap-2">
                    <button type="button" class="my-prev-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-prev">
                      <img src="/assets/images/icon/icon-left.svg" alt="icon-left" />
                    </button>
                    <button type="button" class="my-next-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-next">
                      <img src="/assets/images/icon/icon-right.svg" alt="icon-right" />
                    </button>
                    <a href="#" class="fs-md fw-medium letter-spacing-sm icon-primary-nonline icon-M text-btn"
                      role="button">查看更多</a>
                  </div>
                </div>
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 5.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="優雅手寫風英文字體" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            優雅手寫風英文字體
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 6.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="極簡幾何無襯線字體" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            極簡幾何無襯線字體
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 7.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="粗體手繪感英文字體" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            粗體手繪感英文字體
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 8.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="經典美式書寫體字型" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            經典美式書寫體字型
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 5.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="優雅手寫風英文字體" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            優雅手寫風英文字體
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 6.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="極簡幾何無襯線字體" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            極簡幾何無襯線字體
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>字型</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 成為創作者CTA -->
              <section class="c-cta d-flex align-items-center rounded-6">
                <div class="card-text">
                  <h2 class="fs-3 fw-bold mb-5">成為創作者</h2>
                  <p class="mb-5">
                    在 Fastock 銷售您的設計，觸及千萬買家，或是在 Fastock
                    上推廣其他藝術家來賺取現金！
                  </p>
                  <button type="button" class="btn btn-pr text-white fs-md fw-medium letter-spacing-sm join-btn">
                    立即加入
                  </button>
                </div>
              </section>
              <!-- 範本區 -->
              <div class="container px-4 px-md-0 my-md-3">
                <div class="swiper-header d-flex justify-content-between align-items-center mb-3">
                  <h3 class="fs-5 fw-bold">範本</h3>
                  <div class="swiper-nav d-flex align-items-center gap-2">
                    <button type="button" class="my-prev-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-prev">
                      <img src="/assets/images/icon/icon-left.svg" alt="icon-left" />
                    </button>
                    <button type="button" class="my-next-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-next">
                      <img src="/assets/images/icon/icon-right.svg" alt="icon-right" />
                    </button>
                    <a href="#" class="fs-md fw-medium letter-spacing-sm icon-primary-nonline icon-M text-btn"
                      role="button">查看更多</a>
                  </div>
                </div>
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 9.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="紫色數位提案模擬稿" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            紫色數位提案模擬稿
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 3.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="商業品牌報告紙樣板" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            商業品牌報告紙樣板
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 10.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden" alt="質感名片展示模板" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            質感名片展示模板
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 11.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="撕貼風格貼紙樣機組" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            撕貼風格貼紙樣機組
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 9.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="紫色數位提案模擬稿" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            紫色數位提案模擬稿
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 3.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="商業品牌報告紙樣板" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            商業品牌報告紙樣板
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 10.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden" alt="質感名片展示模板" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            質感名片展示模板
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 11.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="撕貼風格貼紙樣機組" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            撕貼風格貼紙樣機組
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>範本</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 相片區 -->
              <div class="container px-4 px-md-0 my-md-3">
                <div class="swiper-header d-flex justify-content-between align-items-center mb-3">
                  <h3 class="fs-5 fw-bold">相片</h3>
                  <div class="swiper-nav d-flex align-items-center gap-2">
                    <button type="button" class="my-prev-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-prev">
                      <img src="/assets/images/icon/icon-left.svg" alt="icon-left" />
                    </button>
                    <button type="button" class="my-next-btn icon-secondary-outline icon-S d-none d-md-flex"
                      id="my-next">
                      <img src="/assets/images/icon/icon-right.svg" alt="icon-right" />
                    </button>
                    <a href="#" class="fs-md fw-medium letter-spacing-sm icon-primary-nonline icon-M text-btn"
                      role="button">查看更多</a>
                  </div>
                </div>
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 12.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="未來感藍球體藝術構圖" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            未來感藍球體藝術構圖
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 13.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden" alt="極簡山丘風景照" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            極簡山丘風景照
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 2.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="雪山日出空拍景觀圖" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            雪山日出空拍景觀圖
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 14.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="綠眼長毛貓側臉寫真" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            綠眼長毛貓側臉寫真
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 12.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="未來感藍球體藝術構圖" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            未來感藍球體藝術構圖
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 13.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden" alt="極簡山丘風景照" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            極簡山丘風景照
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 2.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="雪山日出空拍景觀圖" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            雪山日出空拍景觀圖
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card">
                        <!-- 卡片圖片區 -->
                        <div class="position-relative overflow-hidden rounded-4">
                          <div class="d-none d-sm-block tag-m tag-yellow"></div>
                          <div class="d-sm-none tag-s tag-yellow"></div>
                          <%- include('./layout/inCardBtn.ejs'); -%>
                            <img src="/assets/images/Homepage/card 14.png"
                              class="card-img-top img-fluid feature-card-img rounded-4 oveflow-hidden"
                              alt="綠眼長毛貓側臉寫真" />
                        </div>
                        <!-- 卡片描述區 -->
                        <div class="card-body">
                          <h5 class="card-title fs-md fs-md-lg fw-bold">
                            綠眼長毛貓側臉寫真
                          </h5>
                          <div class="card-text d-flex justify-content-between">
                            <p>相片</p>
                            <p>$100</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 查看更多 -->
              <div class="d-flex justify-content-center my-0 my-md-8">
                <button type="button" class="d-none d-md-block btn btn-sec-outline fs-md fw-medium letter-spacing-sm">
                  查看更多
                </button>
                <button type="button" class="d-md-none btn-sm btn-sec-outline fs-sm fw-medium letter-spacing-sm">
                  查看更多
                </button>
              </div>
              <!-- 加入會員CTA -->
              <section class="m-cta"></section>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-sale" role="tabpanel" aria-labelledby="pills-sale-tab"></div>
          <div class="tab-pane fade" id="pills-free" role="tabpanel" aria-labelledby="pills-free-tab">
            <div class="container">
              <p>free</p>
            </div>
          </div>
        </div>
      </main>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <!-- offcanvas submenu -->
        <script>
          // offcanvas submenu
          document.addEventListener("DOMContentLoaded", function () {
            const sharedSubMenu = document.getElementById("sharedSubMenu");

            if (sharedSubMenu) {
              sharedSubMenu.addEventListener("show.bs.offcanvas", function (event) {
                const triggerElement = event.relatedTarget;

                // 取得標題和分類的文字
                const newTitle = triggerElement.getAttribute("data-title");
                const newCategory = triggerElement.getAttribute("data-category");

                // 取得子選單的標題 h5 元素
                const subMenuTitle = document.getElementById("sharedSubMenuLabel");
                // 取得子選單中的分類 h3 元素
                const categoryTitle = document.getElementById("categoryTitle");

                if (subMenuTitle) {
                  // 更新主標題
                  subMenuTitle.textContent = newTitle;
                }

                if (categoryTitle) {
                  // 更新分類標題
                  categoryTitle.textContent = newCategory;
                }
              });
            }
          });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
          const swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 20,
            freeMode: false,

            navigation: {
              nextEl: ".my-next-btn",
              prevEl: ".my-prev-btn",
            },

            breakpoints: {
              375: {
                slidesPerView: 2,
                spaceBetween: 12,
              },
              576: {
                slidesPerView: 2,
                spaceBetween: 16,
              },
              768: {
                slidesPerView: 3,
                spaceBetween: 20,
              },
              992: {
                slidesPerView: 4,
                spaceBetween: 20,
              },
            },
            effect: "slide",
            mousewheel: {
              revert: true,
            },
            speed: 400,
          });
        </script>
</body>

</html>